<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rlindoso.rlindosotreinamento">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.CalcActivity" />
        <activity android:name=".view.BibliotecaAutorEditAddActivity" />
        <activity android:name=".view.MainAlcGasActivity" />
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.ListActivity" />
        <activity
            android:name=".view.AppTreinamentoDetailActivity"
            android:label="Detalhes" />
        <activity android:name=".view.CadBasicoActivity" />
        <activity android:name=".view.CadBasicoEditAddActivity" />
        <activity android:name=".view.BibliotecaActivity" />
        <activity android:name=".view.BibliotecaAutorActivity" />
        <activity
            android:name=".view.BibliotecaLivroActivity"
            android:label="@string/title_activity_biblioteca_livro"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>